.main-AppointmentModal{
    position: absolute;
    margin-top: 10rem;
    margin-left: 2rem;
}
.inside-AppointmentModal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 760px;
    
box-shadow: 4px 16px 24px 0px rgba(0, 0, 0, 0.20), -4px -8px 24px 0px rgba(0, 0, 0, 0.20);
}
.top-AppointmentModal{
    display: flex;
    width: 7.8rem;
height: 35px;
padding: 9px 16px 9px 652px;
justify-content: flex-end;
align-items: center;
background: #F5F5F5;
}
.bottom-AppointmentModal{
    background: #ffffff;
    width: 100%;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.head-AppointmentModal{
    color: var(--Mid-Green, #48B1A3);
font-family: Nunito;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
margin-left: -30rem;
}
.email-AppointmentModal{
    display: flex;
width: 311px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
border: 1px solid var(--Gray-4, #BDBDBD);
color: red;
font-family: Nunito;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 24px; /* 150% */
outline: none;
padding: 1rem;
}
.col1-AppointmentModal{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 16px;
    margin-top: -1rem;
}
.submitBtn-appointmentModal{
    width: 194px;
height: 51px;
border-radius: 5px;
background: #48B1A3;
display: flex;
flex-direction: row;
justify-content: center;
/* align-items: center; */
margin-left: 32rem;
}
.submitBtn-appointmentModal p{
    color: #FFF;
text-align: center;
font-family: Maven Pro;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 19.2px */
text-transform: uppercase;
}