.main-CompanyPageMain{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    background: #F5F5F5;
    /* padding-right: 12rem;
    overflow-x: hidden; */

}
.left-CompanyPage{
    width: 25%;
    /* background: #F5F5F5; */
}
.right-CompanyPage{
    width: 75%;
    /* background: #F5F5F5; */
}
