.head-AboutPageVerified{
    color: var(--NoDig-Dark-Blue, #011E34);
text-align: center;

/* H2 Consumer */
font-family: Nunito;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
}
.inside-AboutPageVerified{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.pic-AboutPageVerified{
    position: relative;
}
.play-btn-AboutPageVerified{
    position: absolute;
    margin-top: 10rem;
    cursor: pointer;
}
.all-AboutPageArticles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
gap: 40px;
}
